html {
  background: #2c4a77;
}
#login {
  background: #f5f9ff;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 722px;
}
#form-and-logo {
  display: flex;
  flex-direction: row;
}
#computer-data {
  background: #93c4e1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  width: 45.125rem;
  height: 3.375rem;
  flex-shrink: 0;
}
#computer-data p {
  color: #474747;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Neuton", serif;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 1% 2%;
}
